*.pyc
/backend/db.sqlite3
.DS_Store
.myenv
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

.direnv
.envrc
.tool-versions
myenv/Lib/site-packages/charset_normalizer/md__mypyc.cp311-win_amd64.pyd
myenv/Lib/site-packages/charset_normalizer/md.cp311-win_amd64.pyd
myenv/Lib/site-packages/PIL/_imaging.cp311-win_amd64.pyd
myenv/Scripts/python.exe
